@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


body{
  font-family: Lato;
}

.about {
}
.about__body {
  max-width: 823px;
  margin: 0px auto;
}
.about__header {
  margin: 0 0 65px 0;
}
.about__title {
  margin: 0 0 30px 0;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px; }
  .about__column {
    padding: 0px 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%; }

.title {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 8.95px;
  line-height: 1.2;
  position: relative;
  text-align: center;
  &::after{
    content: '';
    position: absolute;
    width: 100px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000;
    margin: 0 0 0 -52px;
  }
}
.item-about {
}
.item-about__icon {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.item-about__title {
  text-align: center;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0 0 35px 0;
}
.item-about__text {
  color: rgb(134, 133, 133);
  line-height: 1.857;
  text-align: center;
  font-size: 14px;
  font-weight: 300;

  
}

